 
/* Header  elements*/

.section-fluid {
    background-color: black;
}
.header-high-text {
display: flex;
justify-content: flex-end;
color:white;
}


.returnal-min-container {
display: flex;
flex-direction: column;
justify-content: flex-end;
color:white;
padding-top: 350px;
}

.returnal-min-container > * {
    margin-bottom: 50px;
}

.header.high-text h1 {
   
}

.header-costume-container {
   background-image: url(../img/jumbo-bg.png);
   background-size: cover;
   min-height:800px;
   background-position: center center;
}

.button-header {
    height:50px;
    width:130px;
    border-radius: 30px;
    background-color: red;
    border: red;
    color:white;
}

/* Main */

.mini-games-container {
    margin-top: 30px;
}

.box-mini-games img{
    width: 100%;
}

.box-mini-games {
    border-radius: 20px;
    border:2px white solid;
    overflow:hidden;
}

.box-mini-games-inner {
    border: 2px white solid;
    border-radius: 20px;
    overflow:hidden;
}

.box-mini-games:hover {
    border: 2px #0d6efd solid;
}

.playstation-thumb  {
    width: 100%;
}

.devices-container {
    margin-top: 100px;
}

[class^="device"]{
margin-left: 30px;
text-align: center;
}

.device-hover:hover {
  border-bottom: 1px #0d6efd;
}

.device img{
    width:100%;
}
a {
    text-decoration: none;
}

.btn-devices-container {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #0d6efd;
    border:none;
    color:#fff;
    margin-top: 30px;
    font-weight:500;
}