
 /* Common css elements */
 * {
    font-family: Arial;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 .btn-ps4-container,  .ps-now-container, footer a, .footer-container, 
 .btn-devices-container, .takes-two-container, .returnal-min-container,
 .header-high-text, .new-arrives-container, .device hr, .btn-nav 
 {
     color: white;
 }
 
 .img-ps-now-container, .social-media-container img, 
 .ps-store-container img,.playstation-thumb, .box-new-games img,
 .offers-ps4-container img, .device img, .box-mini-games img, 
 .psplus-mini-container-two img
 {
     width:100%;
 }
 
 .language-world, .psplus-container, .new-arrives-container  h2  {
    margin-top: 30px;
}

 .new-arrives-container  h2, .new-arrives-container h3  {
    margin-bottom: 15px;
}

/* Navbar */
.navbar li {
    padding-left: 15px;
}

.sticky-nav{
    position: -webkit-sticky;
    top:0;
    position:sticky;
    z-index:1001;
}

.btn-nav {
    width: 80px;
    height: 45px;
    border-radius: 30px;
    border:none;
    background-color: rgb(39, 37, 37);
}

.navbar li img {
    margin-top: 10px;
    margin-left: 15px;
 }

/* Header  elements*/
.header-high-text {
display: flex;
justify-content: flex-end;
padding: 10px;
background-color: black;
}

.returnal-min-container {
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-top: 350px;
}

header p {
    font-size: 18px;
}
.returnal-min-container > * {
    margin-bottom: 50px;
}

.header-costume-container {
   background-image: url(../img/jumbo-bg.png);
   background-size: cover;
   background-position: center center;
}

.button-header {
    height:50px;
    width:130px;
    border-radius: 30px;
    background-color:rgb(255, 94, 0);
    border: none;
    color:white;
}

/* Main */
.mini-games-container {
    margin-top: 30px;
}

.box-mini-games {
    border-radius: 20px;
    border:2px white solid;
    overflow:hidden;
}

.box-mini-games-inner {
    border: 2px white solid;
    border-radius: 20px;
    overflow:hidden;
}

.box-mini-games:hover {
    border: 3px #0d6efd solid;
}

.devices-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

[class^="device"]{
margin-left: 30px;
text-align: center;
}

.device img {
    opacity: .7;
}

.device:hover hr{
 border: 2px #0d6efd solid;
 opacity: 1;
}

.img-device:hover img {
   opacity: 1; 
}

 .devices-container a {
    text-decoration: none;
}

.devices-container p {
    color:rgb(126, 125, 125);
    font-size: 22px;
    padding-top: 30px;
}

.devices-container .description {
    color:rgb(126, 125, 125);
}

.btn-devices-container {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #0d6efd;
    border:none;
    margin-top: 30px;
    font-weight:500;
}

.takes-two-container {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position:  center center;
}

.takes-two-min-container >* {
    margin-bottom: 45px;
}

.takes-two-logo {
    width:60%;
    margin-top: 45px;
}
.takes-two-min-container p {
    font-size: 19px;
}

.new-arrives-container {
    background-color: #1a1818;
}

.box-new-games {
    border-radius: 20px;
    border:2px #1a1818 solid;
    overflow:hidden;
}

.box-mini-games-inner {
    border: 2px #1a1818 solid;
    border-radius: 20px;
    overflow:hidden; 
}

.box-new-games:hover {
    border: 2px #0d6efd solid;
}

.text-new-arrives {
    margin-bottom: 30px;
    margin-top: 15px;
}
.explore-ps-container {
    margin-top: 75px;
    margin-bottom: 75px;
}
.text-explore-ps h1, .social-media-container h1 {
    font-size: 45px;
}

.explore-ps-container .text-explore-ps-p {
    font-size: 24px;
    color:rgb(100, 98, 98);
}

.btn-ps4-container {
    height:40px;
    width:130px;
    border-radius: 30px;
    background-color: #2d64e6;
    border: none;
}

.psplus-container {
    background-color: gray;
}

.psplus-mini-container, .ps-now-mini-container {
    padding-top: 80px;
    padding-bottom: 30px;
}

.psplus-mini-container >*{
    margin-bottom: 30px;
}


.psplus-container img, .ps-now-mini-container img{
    width:70%;
}

.psplus-mini-container button, .btn-ps-now-container{
    height:40px;
    width:200px;
    border-radius: 30px;
    color:#2d64e6;
    border: none;
}

.ps-store-container h2, .ps-store-container p {
  margin-bottom: 30px;
}

.text-explore-ps  {
    margin: 60px 0;
 }

.ps-store-container img {
    margin:10px;
}
.ps-store-container {
    margin-top: 60px;
    margin-bottom: 60px;
}
.ps-store-container p {
    font-size: 24px;
    color:rgb(100, 98, 98);
    margin-top:15px;
}
.ps-now-container {
    background-color: rgb(6, 6, 31);
}
.ps-now-mini-container >* {
    margin-top: 30px;
}

.social-media-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.social-media-container h1{
   margin-bottom:45px; 
}

.footer-container {
    background-color: #004390;
    font-size:17px;
}

.footer-mini-container {
    padding-top:90px;
    padding-bottom: 90px;
}

footer svg, footer svg path {
    fill:white;
}

footer ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 14px;
}

footer i {
    font-size: 20px;
    margin-right: 10px;
}


/* Media queries */

@media all and (max-width: 576px) {
    .social-media-container img{
     margin-bottom: 15px;
    }
    .footer-mini-container {
        padding: 30px;
    }
}

@media all and (max-width: 992px) {
    .ps-now-mini-container {
      padding-top:20px;
      padding-bottom: 50px;
    }

    .footer-mini-container ul {
      margin-bottom: 0;
    }
    .footer-list {
        margin-top: 30px;
    }
    .psplus-mini-container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .pslus-mini-container img {
        padding-top:15px;
    }
}