 
/* Header  elements*/

.section-fluid {
   width:100%;
}

.header-high-text {
display: flex;
justify-content: flex-end;
color:white;
background-color: black;
}


.returnal-min-container {
display: flex;
flex-direction: column;
justify-content: flex-end;
color:white;
padding-top: 350px;
}

.returnal-min-container > * {
    margin-bottom: 50px;
}

.header.high-text h1 {
   
}

.header-costume-container {
   background-image: url(../img/jumbo-bg.png);
   background-size: cover;
   min-height:800px;
   background-position: center center;
}

.button-header {
    height:50px;
    width:130px;
    border-radius: 30px;
    background-color:rgb(255, 94, 0);
    border: none;
    color:white;
}

/* Main */

.mini-games-container {
    margin-top: 30px;
}

.box-mini-games img{
    width: 100%;
}

.box-mini-games {
    border-radius: 20px;
    border:2px white solid;
    overflow:hidden;
}

.box-mini-games-inner {
    border: 2px white solid;
    border-radius: 20px;
    overflow:hidden;
}

.box-mini-games:hover {
    border: 2px #0d6efd solid;
}

.playstation-thumb  {
    width: 100%;
}

.devices-container {
    margin-top: 100px;
}

[class^="device"]{
margin-left: 30px;
text-align: center;
}

.device-hover:hover {
  border-bottom: 1px #0d6efd;
}

.device img{
    width:100%;
}
a {
    text-decoration: none;
}

.btn-devices-container {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #0d6efd;
    border:none;
    color:#fff;
    margin-top: 30px;
    font-weight:500;
}

.takes-two-container {
    min-height:600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position:  center center;
    color:white;
}
.takes-two-min-container >* {
    margin-bottom: 45px;
}

.takes-two-logo {
    width:100%;
    margin-top: 45px;

}

.new-arrives-container {
    background-color: #1a1818;
    color:white;
}

.box-new-games img{
    width: 100%;
}

.box-new-games {
    border-radius: 20px;
    border:2px #1a1818 solid;
    overflow:hidden;
}

.box-mini-games-inner {
    border: 2px #1a1818 solid;
    border-radius: 20px;
    overflow:hidden;
   
}

.box-new-games:hover {
    border: 2px #0d6efd solid;
}

.text-new-arrives {
    margin-bottom: 30px;
    margin-top: 15px;
}

.offers-ps4-container img {
     width:100%;
}

.btn-ps4-container {
    height:40px;
    width:130px;
    border-radius: 30px;
    background-color: #2d64e6;
    /* background-color: #004390; */
    border: none;
    color:white;
}

.psplus-container {
    background-color: gray;
    margin-top: 30px;
}

.psplus-mini-container {
    padding-top: 45px;
}

.psplus-mini-container >*{
    /* margin-bottom: 30px; */

}

.psplus-container img{
    width:70%;
}

.psplus-mini-container button{
    border-radius: 30px;
    color:#2d64e6;
    border: none;
    margin-left: 30px;
}

.ps-store-container h2, .ps-store-container p {
  padding-bottom: 30px;
}

.ps-store-container {
    padding-top: 60px;
    padding-bottom: 60px;
}
.ps-store-container img {
    width:100%;
    padding:10px;
}

.ps-now-container {
    background-color: rgb(6, 6, 31);
    color:white;
}

.ps-now-container img{
    width:100%;
}
.ps-now-mini-container img {
    width:60%;
}

.social-media-container img {
    width:100%;
}